<!--
  File: edit.erb
  Purpose: This View that show the page editing of the question.
  License : LGPL. No copyright.
 -->

<h1>Edit question <%= @question.id %> (number <%= @question.number%>)</h1>

<%if !@question.errors.empty?%>
  <% flash.now[:danger] = @question.errors.full_messages.join("<br/>").html_safe %>
  
<% end %>

<%else%>
	<!-- nothing to do -->

<%= render :partial => 'form' %>