<!--
  File: humans.erb
  Purpose: This View that show the humans category of the question.
  License : LGPL. No copyright.
 -->

<h1>Ciências Humanas e suas Tecnologias</h1>

<%= render :partial => 'category' %>