<!--
  File: languages.erb
  Purpose: This View that show the languages category of the question.
  License : LGPL. No copyright.
 -->

<h1>Linguagens e Códigos e suas Tecnologias</h1>

<%= render :partial => 'category' %>