<!--
  File: math.erb
  Purpose: This View that show the math category of the question.
  License : LGPL. No copyright.
 -->

<h1>Matemática e suas Tecnologias</h1>

<%= render :partial => 'category' %>