<!--
  File: recommended.erb
  Purpose: This View that show the recommended category of the question.
  License : LGPL. No copyright.
 -->

<h1>Questões Recomendadas</h1>

<%= render :partial => 'category' %>