<!--
 File: _form_errors.html.erb
 Purpose: This shows errors while trying to create a new user
 License : LGPL. No copyright.
-->

<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      O registro contém <%= pluralize(@user.errors.count, "erro", "erros") %>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <!-- do nothing -->
<% end %>
