<!--
 File: index.html.erb
 Purpose: View that shows all users
 License : LGPL. No copyright.
-->

<h1> Usuários </h1>

<table class="table">
  <thead>
    <th>Nome</th>
    <th>Nível</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
        <td><%= link_to("#{user.name}", "/users/#{user.id}") %></td>
        <td><%= user.level %></td>
    </tr>
    <% end %>
    </tbody>
</table>
