<footer class="footer">
  <div class="container">
    <nav>
      <ul id="name-footer">
        <li>Enem Amigo, 2015</li>
      </ul>
      <ul>
        <li><%= link_to t(:'layouts._footer.help'), help_path %></li>
        <li><%= link_to t(:'layouts._footer.about'), about_path %></li>
      </ul>
    </nav>
  </div>
</footer>